<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<p><h1>Registration Form</h1></p>
<form action="/registration" method="post">
    <p>First Name:<br>
    <input type="text" size=30 name="fname"></p>
    <p>Last Name:<br>
    <input type="text" size=51 name="lname"></p>
    <p>Location:<br>
    <input type="text" size=51 name="location"></p>
    <p>E-mail:<br>
    <input type="text" size=51 name="email"></p>
    <br>
    <button type="submit" value="Submit">Save</button>
</form>
</body>
</html>